<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__row">
        <div class="about__column">
          <h2 class="about__title about__title--first section-title">
            Более 5&nbsp;лет создаем мебель для вашего комфорта
          </h2>
          <h2 class="about__title-mobile">О компании</h2>
        </div>
        <div class="about__column">
          <div class="about__text-wrapper">
            <p class="about__text">
              Мы&nbsp;&mdash; команда профессионалов, которые могут произвести
              любую мебель для вашего проекта, а&nbsp;также найти
              производственное решение любой задумки.
            </p>
            <p class="about__text">
              Наша основная цель&nbsp;&mdash; реализовывать самые смелые
              задумки, и&nbsp;делать это качественно и&nbsp;аккуратно.
            </p>
            <p class="about__text">
              В&nbsp;качестве материалов мы&nbsp;используем
              натуральные&nbsp;&mdash; стекло, дерево, бетон, камень, металл
              и&nbsp;эпоксидную смолу.
            </p>
          </div>
          <div class="about__list">
            <div class="about__item">
              <h3 class="about__subtitle">1 год</h3>
              <p class="about__text">гарантии на&nbsp;всю продукцию</p>
            </div>
            <div class="about__item">
              <h3 class="about__subtitle">300+</h3>
              <p class="about__text">выполненных проектов</p>
            </div>
            <div class="about__item">
              <h3 class="about__subtitle">15 дней</h3>
              <p class="about__text">срок производства</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about__row about__row--last">
        <div class="about__column">
          <h2 class="about__title about__title--last section-title">
            Как мы&nbsp;работаем
          </h2>
        </div>
        <div class="about__column about__column--last">
          <p class="about__text">
            Алгоритм работы с&nbsp;нами для удобства и&nbsp;понимания проекта
          </p>

          <div class="about__sub-row about__sub-row--first">
            <div class="about__sub-column">
              <h3 class="about__subtitle">Идея</h3>
            </div>
            <div class="about__sub-column">
              <p class="about__text">
                Клиент приходит к&nbsp;нам с&nbsp;идеей. Это может быть
                изображение/ эскиз или другой референс. А&nbsp;мы&nbsp;думаем
                над тем, как это реализовать, делаем технические чертежи
                и&nbsp;предлагаем решения по&nbsp;материалам.
              </p>
            </div>
          </div>
          <div class="about__sub-row">
            <div class="about__sub-column">
              <h3 class="about__subtitle">Техническое задание</h3>
            </div>
            <div class="about__sub-column">
              <p class="about__text">
                Вместе с&nbsp;клиентом формулируем корректное&nbsp;ТЗ, которое
                включает в&nbsp;себя визуализацию изделия, эскизный чертёж
                с&nbsp;габаритами, информацию по&nbsp;материалам и&nbsp;отделке,
                срок реализации проекта и&nbsp;другие обязательные пункты.
              </p>
            </div>
          </div>
          <div class="about__sub-row">
            <div class="about__sub-column">
              <h3 class="about__subtitle">Коммерческое предложение</h3>
            </div>
            <div class="about__sub-column">
              <p class="about__text">
                Предпочтительно используем натуральные материалы. Но&nbsp;любую
                смету можем оптимизировать, упростив материалы или конструктив.
                Сможем подстроиться под бюджет клиента и&nbsp;согласуем
                коммерческое предложение
              </p>
            </div>
          </div>
          <div class="about__sub-row">
            <div class="about__sub-column">
              <h3 class="about__subtitle">Подготовка рабочего проекта</h3>
            </div>
            <div class="about__sub-column">
              <p class="about__text">
                Создадим рабочую документацию и&nbsp;чертежи. Это фундамент
                качественного производства. На&nbsp;этом этапе утверждаем
                с&nbsp;клиентом все габариты и&nbsp;материалы, чертежи
                и&nbsp;приступаем к&nbsp;производству.
              </p>
            </div>
          </div>
          <div class="about__sub-row">
            <div class="about__sub-column">
              <h3 class="about__subtitle">Производство и монтаж</h3>
            </div>
            <div class="about__sub-column">
              <p class="about__text">
                Производство занимает от&nbsp;15&nbsp;рабочих дней,
                в&nbsp;зависимости от&nbsp;сложности и&nbsp;объёма. Монтажом
                тоже занимаемся самостоятельно. Ведь мы&nbsp;это сделаем быстро
                и&nbsp;аккуратно.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
