<section class="examples">
  <div class="container">
    <div class="examples__inner">
      <div class="examples__column">
        <p class="examples__text">
          Мы&nbsp;можем произвести любую мебель для вашего проекта и&nbsp;найти
          производственное решение любой задумки.
        </p>
        <img
          width="329"
          height="493"
          src="./assets/img/content/homesmall.webp"
          alt="уюутный и комфортный диван"
        />
      </div>
      <div class="examples__column">
        <button class="order-btn examples__btn">заказать проект</button>
        <img
          width="678"
          height="809"
          src="./assets/img/content/homebig.webp"
          alt="уюутный и комфортный диван"
        />
      </div>
    </div>
  </div>
</section>
