<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item">
        <p class="footer__copy">© 2023 Aveji</p>
        <p class="footer__copy">Все права защищены</p>
      </div>
      <div class="footer__item">
        <a href="#" class="footer__politic">
          Политика конфеденциальности / Оплата и доставка
        </a>
      </div>
      <div class="footer__item">
        <ul class="footer__social">
          <li class="footer__link">
            <a href="#">вконтакте</a>
          </li>
          <li class="footer__link">
            <a href="#">телеграм</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
