<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img
          width="47"
          height="50"
          src="./assets/img/icons/logo.svg"
          alt="ссылка домой"
        />
      </a>
      <div class="header__navigation">
        <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Проекты</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Материалы</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          </ul>
        </nav>
        <div class="header__phone">
          <a href="”tel:+79999999999">+7 999 999 99 99</a>
        </div>
      </div>
      <div class="burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
