<section class="join">
  <div class="container">
    <div class="join__inner">
      <div class="join__column">
        <div class="join__img">
          <img
            width="562"
            height="566"
            src="./assets/img/content/formImg.webp"
            alt="уюутный диван"
          />
        </div>
      </div>
      <div class="join__column">
        <h2 class="join__title section-title">Хотите заказать проект?</h2>
        <p class="join__subtitle">
          Оставьте заявку, и&nbsp;мы&nbsp;вам перезвоним
        </p>
        <form class="form" action="#">
          <div class="form__field">
            <input type="text" name="name" id="name" />
            <label for="name">Имя</label>
          </div>
          <div class="form__field">
            <input type="email" name="email" id="email" />
            <label for="email">E-mail</label>
          </div>
          <div class="form__field">
            <input type="number" name="number" id="number" />
            <label for="number">Телефон</label>
          </div>
          <button class="form__button" type="submit">Отправить заявку</button>
        </form>
        <div class="join__storelist">
          <a href="#" class="join__storelist-link">
            <img
              width="121"
              height="36"
              src="./assets/img/icons/appStore.svg"
              alt="скачать приложение в app store"
            />
          </a>
          <a href="#" class="join__storelist-link">
            <img
              width="121"
              height="36"
              src="./assets/img/icons/googlePlay.svg"
              alt="скачать приложение в google play"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
