<section class="projects">
  <div class="container">
    <div class="projects__inner">
      <h2 class="projects__title section-title">Проекты</h2>
      <div class="projects__cards">
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects1.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects2.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects3.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects4.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects5.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
        <div class="projects__card card">
          <div class="card__img">
            <img
              width="445"
              height="580"
              src="./assets/img/content/projects/projects6.webp"
              alt="нашы работы"
            />
          </div>
          <a href="#" class="card__text">Тумба под телевизор</a>
        </div>
      </div>
    </div>
  </div>
</section>
