<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <h2 class="reviews__title section-title">Отзывы</h2>
      <div class="reviews__cards">
        <div class="reviews__card">
          <div class="reviews__img">
            <img
              width="40"
              height="30"
              src="./assets/img/icons/quotes.svg"
              aria-hidden="true"
            />
          </div>
          <p class="reviews__author">Игорь Антонов</p>
          <p class="reviews__text">
            Обратилась к&nbsp;Aveji по&nbsp;рекомендации. Команда сразу поняла,
            какой дизайн я&nbsp;хочу. Предоставили несколько вариантов
            и&nbsp;в&nbsp;течение недели сделали наброски. Итог понравился, все
            на&nbsp;высшем уровне.
          </p>
        </div>
        <div class="reviews__card">
          <div class="reviews__img">
            <img
              width="40"
              height="30"
              src="./assets/img/icons/quotes.svg"
              aria-hidden="true"
            />
          </div>
          <p class="reviews__author">Ольга Иванова</p>
          <p class="reviews__text">
            После пары заказов у&nbsp;компании Aveji убедилась, что
            за&nbsp;мебелью теперь только к&nbsp;ним. Абсолютно любые решения,
            в&nbsp;любых размерах и&nbsp;форм-факторе, то&nbsp;что нужно!
          </p>
        </div>
        <div class="reviews__card">
          <div class="reviews__img">
            <img
              width="40"
              height="30"
              src="./assets/img/icons/quotes.svg"
              aria-hidden="true"
            />
          </div>
          <p class="reviews__author">Аркадий Макаров</p>
          <p class="reviews__text">
            Aveji&nbsp;&mdash; настоящие профессионалы своего дела. Быстро
            поняли мою задумку, сделали дизайн, согласовали и&nbsp;изготовили
            мебель. А&nbsp;потом еще и&nbsp;бесплатно все собрали на&nbsp;месте.
            Большое спасибо!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
